body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
  }
  
  .centr {
    padding-right: calc(50vw - 185px);
    padding-left: calc(50vw - 185px);
  }
  
  @media screen and (min-width: 1020px) {
    .centr {
      padding-right: calc(50vw - 510px);
      padding-left: calc(50vw - 510px);
    }
  }
  
  @media screen and (min-width: 1020px) {
    .header {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  .nav {
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
  }
  
  @media screen and (min-width: 1020px) {
    .nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
  
  .nav__block {
    display: flex;
    justify-content: space-between;
  }
  
  .nav__logo {
    width: 175px;
    height: 57px;
  }
  
  @media screen and (min-width: 1020px) {
    .nav__logo {
      width: 318px;
      height: 60px;
    }
  }
  
  
  .nav__toggler {
    border: none;
    background: none;
    display: block;
    z-index: 2;
    cursor: pointer;
  }
  
  @media screen and (min_width: 1020px) {
    .nav__toggler {
        display: none;
    }
  }
  
  .nav #nav__toggler:checked+.nav__inadvertently {
    left: 0;
    opacity: 1;
  }
  
  .nav #nav__toggler {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .nav__inadvertently {
    position: absolute;
    top: 80px;
    left: -250vw;
    width: 100%;
    background: #fff;
    opacity: 0;
    transition: 0.7s;
    list-style: none;
    z-index: 1;
    padding: 12px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @media screen and (min_width: 1020px) {
    .nav__inadvertently {
      display: none;
    }
  }
  
  .nav__inadvertently-link {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #24a3ff;
    list-style: none;
    text-decoration: none;
  }
  
  .nav__rows {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 7px 0px;
    gap: 10px;
    width: 335px;
    height: 43px;
    background: #f5f5fa;
    border-radius: 12px;
  }
  
  .nav__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:rgba(245, 245, 250, 0.2) ;
  }
  
  @media screen and (min-width: 1020px) {
    .nav__contacts {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background: linear-gradient( #323264 11.93%, #323264  );
    }
  }
  
  .nav__list {
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
    list-style: none;
  }
  
  .nav__salected {
    text-decoration: none;
    color: #ffff;
  }
  
  .nav__redframe:nth-child(3) {
    background: #f0145a;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 7px;
    gap: 6px;
  }
  
  .nav__redframe a {
    color: #ffffff;
  }
  
  .nav__link {
    display: none;
  }
  
  @media screen and (min-width: 1020px) {
    .nav__link {
      display: flex;
      font-size: 16px;
      line-height: 20px;
      color: #ffff;
    }
  }
  
  .nav__tell {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color:#ffff;
  }
  
  .nav__site {
    display: none;
  }
  
  @media screen and (min-width: 1020px) {
    .nav__site {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 15px;
      list-style: none;
    }
  
    .nav__site-red a:nth-of-type(1) {
      color: #f0145a;
      text-decoration: underline;
    }
  }
  
  .nav__site-side {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffff;
  }

  /**/
  .c {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
}

.services__supply {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #F0145A;


}

@media screen and (min-width: 1020px) {
  .services__supply {
    font-size: 38px;
    line-height: 46px;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1020px) {
  .services__page {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }
}

.services__block {
  max-width: 261px;
}



.services__header {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #24A3FF;
  margin-top: 30px;
}

.services__text {
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  max-width: 315px;
  margin-top: 15px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1020px) {
  .services__text {
    max-width: 261px;
  }
}

.dfd {
  width: 375px;
  height: 160px;
  background: #FFFFFF;
}

@media screen and (min-width: 1020px) {
  .dfd {
    display: flex;
    flex-direction: column;
    flex-direction: row-reverse;
    width: 1000px;
  }
}

.dgsfg {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
}

.services__white {
  width: 92px;
  height: 92px;
  background: #FFFFFF;
  border-radius: 24px;
}

.services__companies {
  width: 1020px;
}

.services__list {
  padding: 0;
  list-style: none;
}


@media screen and (min-width: 1020px) {
  .services__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.services__a {
  width: 375px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services__a:nth-child(n + 8){
    display: none;
}
@media screen and (min-width: 1020px) {
  .services__a{
    width: 249px;
    height: 120px;
  }

}

.services__a img {
  width: 217px;
  height: 48px;

}

.services__a:nth-child(1) {
  background: #1C4280;
}

.services__a:nth-child(2) {
  background: #143646;
}

.services__a:nth-child(3) {
  background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
}

.services__a:nth-child(4) {
  background: #9E4DC3;
}

.services__a:nth-child(5) {
  background: #FD9339;
}

.services__a:nth-child(6) {
  background: #E2E2E4;
}

.services__a:nth-child(7) {
  background: #C71C36;
}

.services__a:nth-child(8) {
  background: #DCF3F9;
}

.services__a:nth-child(9) {
  background: #EAEAEA;
}

.services__a:nth-child(10) {
  background: #282240;
}

.services__a:nth-child(11) {
  background: #1D4568;
}

.services__a:nth-child(12) {
  background: #000000;
}

/**/
.footer {
    background: #f5f5fa;
    width: 320px;
    padding: 30px;
  }
  
  @media screen and (min-width: 1020px) {
    .footer {
      width: 990px;
      padding: 0;
    }
  }
  
  .footer__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .footer__list {
    list-style: none;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  @media screen and (min-width: 1020px) {
    .footer__list {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 40px;
    }
  }
  
  .footer__white:nth-child(1) {
    width: 255px;
    height: 88px;
    background: #ffffff;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media screen and (min-width: 1020px) {
    .footer__white:nth-child(1) {
      width: 196px;
      height: 110px;
    }
  }
  
  @media screen and (min-width: 1020px) {
    .footer__white {
      width: 196px;
      height: 110px;
      background: #ffffff;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  .footer__link {
    display: none;
  }
  
  @media screen and (min-width: 1020px) {
    .footer__link {
      display: flex;
    }
  }
  
  @media screen and (min-width: 1020px) {
    .footer__frame {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  
  .footer__text {
    display: none;
  }
  
  @media screen and (min-width: 1020px) {
    .footer__text {
      display: flex;
      font-size: 16px;
      line-height: 20px;
      color: #b3b3ba;
    }
  }
  
  .footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
  }
  
  @media screen and (min-width: 1020px) {
    .footer__contacts {
      display: flex;
      flex-direction: row;
      gap: 26px;
    }
  }
  
  .footer__contacts p {
    font-size: 16px;
    line-height: 20px;
  }
  
  .footer__contacts a {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24a3ff;
    text-decoration: none;
  }
  
  .footer__tell {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    color: #46466e;
  }
  
  .footer__law {
    margin-left: 70px;
    margin-top: 30px;
    font-size: 16px;
    line-height: 20px;
    color: #b3b3ba;
  }
  
  @media screen and (min-width: 1020px) {
    .footer__law {
      display: none;
    }
  }